.box {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
 
  .todo-0-container .box {
    animation: bob 1s ease-out infinite;
  }
  @keyframes bob {
    0% {
      scale: 100%;
    }
    50% {
      scale: 150%;
    }
    1000% {
      scale: 200%;
    }
  }
  

  .todo-1-container .box {
    /* Apply animation here */
    animation: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes move {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(50px);
    }
  }
  

  .todo-2-container .box {
    /* Apply animation here */
    animation-name: stretch;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes stretch {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(2.8);
      background: blue;
    }
  }
  

  .ccontainer button {
    /* Apply transition here */
    transition-property: box-shadow, transform;
    transition-duration: 500ms;
    transition-timing-function: ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 2, 1.24);
  }
  .ccontainer button:is(:hover, :focus) {
    box-shadow: 0px 8px 10px gray;
    transform: translateY(-8px);
  }
  